<div class="container">
	<div class="wrapper">
		<h1>Hangman</h1>
		<p>Use the alphabet below to guess the word</p>
		<div class="word-display"></div>
		<div class="alphabet-container"></div>
		<p class="category-name"></p>
		<p class="clue">Clue-</p>
		<canvas id="myCanvas">Hangman</canvas>
		<div class="my-lives">
			Remaining Lives: <span id="mistakes">0</span> of
			<span id="maxLives"></span>

			<div>
				<button class="btn hint-button button">Hint</button>
				<button class="btn reset-button button">Reset</button>
			</div>
		</div>
	</div>
</div>
